<!DOCTYPE html>
<html>

<head>
  <title>ToDoリスト</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <style type="text/css" media="screen">
    @import url("/views/css/style.css");
    @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
  </style>
  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

  <!-- axios：HTTP通信を超簡単に行うことができるJavaScriptライブラリ -->
  <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>

  <!-- Vueインスタンス -->
  <script src="/views/js/vueTask.js" defer></script>
</head>

<body>
  <div id="vue-app">
    <section class="hero is-small is-link">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
              <h1 class="title is-4 is-spaced">
                Excellent ToDo
              </h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="content">

              <div class="panel is-primary">
                <p class="panel-heading">
                  usernameさんの ToDoリスト
                </p>
                <div class="columns is-narrow">
                  <div class="column is-1 ml-5">
                    <button v-on:click="doAddtask" id="add-task" class="button is-link py-0">追加</button>
                  </div>
                  <div class="column is-9 ml-5">
                    <input v-model="newtask.title" id="add-task-value" class="input is-link" type="text" minlength="1" placeholder="新しく追加する">
                  </div>
                </div>

                <p class="panel-tabs">
                  <a class="is-active">All</a>
                  <!-- TODO: タグ付け作る
              <a>Public</a>
              <a>Private</a>
              <a>Sources</a>
              <a>Forks</a>-->
                </p>
                <!--既存のTODO-->
                <div id="task-list" v-cloak>
                  <div class="panel-block columns py-1" v-for="(task, index) in tasks">
                    <div class="checkbox column is-1 py-0 has-text-centered">
                      <input v-if="task.Done" class="task-checkbox" type="checkbox" checked>
                      <input v-else class="task-checkbox" type="checkbox">
                    </div>
                    <div class="column py-0" :class="{ 'line-throungh': task.Done }">{{ task.Title }}</div>
                    <div class="column is-2 py-0">
                      <button v-on:click="doDeletetask(task.TaskID)" class="delete-task button is-danger is-outlined is-small">
                        <span>削除</span>
                        <span class="icon is-small">
                          <i class="fas fa-times"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</body>

</html>