{{ template "header.html" .}}
  <h1>ログイン</h1>
  <p>こんにちはログインをしてください</p>
  <form action="mypage" method="post">
    <div>
      <label for="name">Username (4 to 8 characters)</label>
      <input type="text" id="username" name="username" required
            minlength="4" maxlength="8" size="15">
    </div>
      <label for="name">Password (4 to 8 characters)</label>
      <input type="password" id="password" name="password" required
          minlength="4" maxlength="8" size="15">
    </div>                  
    <div>
      <input type="submit">
      </div>
  </form>
  </body>
</html>